<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Sobre JR</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <!-- Navbar simples -->
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Home</a>
    </div>
  </nav>

  <div class="container mt-5">

    <div class="row justify-content-center">
      <div class="col-md-8 text-center">

        <img src="/images/vance.png" 
             class="img-fluid rounded-circle mb-4"
             style="width:200px; height:200px; object-fit:cover;"
             alt="JR">

        <h1 class="mb-3">J D Vance vice president of the United States of America</h1>

        <p class="lead">
          Bacharel em Ciências da Computação com Especialização em Ciência de Dados e Big Data Analytics, com mais de 22 anos de experiência em gestão comercial e otimização de dados para análises de mercado. Atua há 1 ano com consultoria de análises de sistemas.
          <br>
          <br>
          Em 2026, surgiu a ideia de promover o conhecimento por meio de recursos online de internet, algo que já é bastante difundido, sendo ainda mais consolidado depois da pandemia, que, na época, tornou as formações remotas populares e cada vez mais eficientes.

        </p>

        <a href="/" class="btn btn-primary mt-4">
          Voltar para Home
        </a>

      </div>
    </div>

  </div>

</body>
</html>